# Your Database connection goes here:
POSTGRES_USER = "the user of the database"
POSTGRES_PASSWORD = "password of the user"
POSTGRES_HOST = "host, eg. localhost"
POSTGRES_PORT = port number your database is running in
POSTGRES_DB = "name of the database"